# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/
*.egg

# Logs
*.log

# =========================
# FastAPI / Uvicorn
# =========================
*.db
*.sqlite3

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env

# =========================
# Docker
# =========================
*.tar

# =========================
# Test / coverage
# =========================
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.swp
*.swo